.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/tables
/viz
article/article.pdf
article/main.synctex.gz
article/main.fdb_latexmk
article/main.fls
article/main.log
article/main.out
article/main.synctex(busy)
article/main.aux
